

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Medula+One&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");




@font-face {
  font-family: 'Medula One', cursive;
  src: url('../fonts/MedulaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Baskerville', serif;
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Libre Baskerville', serif;
  src: url("../fonts/LibreBaskerville-Bold.ttf") format('truetype');
  font-weight: bold;
}


* {
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  scroll-behavior: smooth;
}

/* NAVBAR */

.navbar {
  display: flex;
  background-color: #af966e;
  align-items: center;
}

.logo {
  width: 170px;
  height: auto;
  padding: 10px;
}

.liste-lien {
  display: flex;
  margin-left: 3rem;
}

.liste-lien li {
  list-style-type: none;
}

.liste-lien li a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

/* IMAGE BANNIERE */
#hero-banner {
  background-image: url('../img/zelda-botw.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}


/* SECTION AVENTURE */

#entrer {
  color: white;
  background-image: url('../img/zelda-bg_pattern_brown.png');
  background-size: contain;
  height: fit-content;
  padding-top: 3rem;
  
}

.aventure {
  text-align: center;
  padding: 2rem;
}

.aventure-texte {
  margin-top: 1rem;
  padding-left: 21rem;
  padding-right: 21rem;
}

.aventure-texte span {
  color: #ddc214;
}

.yeux {
  display: flex;
  align-items: center;
  padding: 2rem;
  text-align: center;
  padding-left: 22rem;
  padding-right: 22rem;
  margin-top: 5rem;
}

.yeux-texte {
  margin-left: 1rem;
  margin-top: 1rem;
}

/* SECTION DECOUVRIR */

#decouvrir {
  background-image: url('../img/zelda-bg_pattern_white.png');
  background-size: contain;
  height: 1200px;
  padding-top: 3rem;
}

.monde {
  text-align: center;
}

.monde p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.link-banner {
  width: 50%;
  height: auto;
}

.colonne-img {
  display: flex;
  justify-content: center;
}

.colonne-img img {
  margin-top: 3rem;
  width: 20%;
  height: auto;
}